{
	# debug
	http_port 8080
	auto_https disable_redirects
}

:8080 {
	@static {
		path_regexp static ^.*/static/(.*)$
	}

	log {
		level info
		format json
		output file /vol/log/caddy.log {
			roll_size 10MiB
			roll_keep 10
			roll_keep_for 4320h
		}
	}

	route @static {
		rewrite * {http.regexp.static.1}
		file_server {
			root /vol/rdmo-app/static_root
		}
	}

	reverse_proxy * {env.global_prefix}rdmo:8080 {
		header_up X-Forwarded-Host {env.url_hostname}
	}
}
